
@{
    ViewBag.Title = "Default";
}

<h2>Error</h2>
<h3>Dogodila se neobična greška</h3>

<div>Molimo Vas da kontaktirate administratora i opišete što se dogodilo</div>
<div>
    @ViewBag.Error
</div>
